
/* ----------------------------------------------------------------------------------------------------
general styling: */


/* create root for css variables:  */
:root{
  --firstfont:  Arial, sans-serif;
  --secondfont: "Josefin Sans";
  --thirdfont: "Agu Display";
  --firstcolor: #e0dfdb;
  --secondcolor: #CEDEBD;
  --thirdcolor: #788d5f;
  --fourthcolor: #353d2f;
  --fifthcolor: #0fa50f;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: var(--secondfont);
}

#offcanvasNavbarLabel{
  color: var(--firstcolor);
  text-decoration: underline solid;
  font-size: 25px;
}

.nav-link{
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      color: var(--firstcolor);
}
  
.nav-link:hover{
      color: white;
      background-color: green;
}
  
.navbar-brand{
      font-size: 20px;
      font-weight: 800;
      color: var(--firstcolor);
      cursor: pointer;
      text-decoration: none;
}

.navbar-brand:hover{
    color: var(--fifthcolor);
}


body {
font-family: var(--secondfont);
background-color: var(--secondcolor);
color: var(--fourthcolor);
justify-content: center;
display: flex;
flex-direction: column;
}


/* footer styling */
.footer {
  background-color: var(--fourthcolor);
  color: var(--firstcolor);
  text-align: center;
  padding: 10px;
  margin-top: auto;
}



